@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header,
.container-1,
.container-2,
.contiainer-3,
.container-4,
.footer {
    padding: 16px 200px;
}

.header,
.container-1,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    align-items: center;
}

.header a,
.hero-secondary,
button,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

a {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: initial;
}

.container-1,
.container-2,
.container-3,
.container-4 {
    flex: 1;
    display: flex;
}

.container-1 {
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    padding-top: 84px;
    padding-bottom: 100px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

img {
    width: auto;
    height: 300px;
    flex: 1;
}

button,
.call-to-action {
    background-color: #3882F6;
}

button {
    border: none;
    width: 130px;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 600;
}